@media(max-width: 1024px)
{
	#window
	{
		width:80%;
		left:10%;
	}
}

@media(max-width: 768px)
{
	#window
	{
		top:1%;left: 1%;
		width: 98%;

	}
	
	#first
	{
		display: none;
		float: none;
	}
	
	#second
	{
		display: inline-block;
		font-size: 100%;
		box-sizing: border-box;
		display: block;
		float: none;
		width: 100%;
		position: relative;
	}
	
	nav
	{
		height:45px;
		margin: 0;
	}
	
}

@media(max-width: 479px)
{
	#window
	{
		top:1%; left:1%;
		width: 98%;
		height: 102%;
	}
	#second
	{
		font-size: 80%;
	}

}