@media(max-width: 1155px)
{
	#window
	{
		width:90%;
		left:5%;
		display: none;
		height: 500px;
	}
	
	#window nav
	{
		display: inline-block;
	}
}

@media(max-width: 768px)
{
	#window
	{
		top:1%;left: 1%;
		width: 98%;
	}
	
	#content
	{
		margin:0;
	}
	
	nav
	{
		margin:0;
		padding:0;
		position: sticky;
	}
	table
	{
		margin: 0 0 0 0;
	}
	
	#first
	{
		display: none;
		float: none;
	}
	
	#second
	{
		display: block;
		font-size: 100%;
		box-sizing: border-box;
		display: block;
		float: none;
		width: 100%;
	}
	
	nav
	{
	 	margin: 0;
	}
	
}

@media(max-width: 480px)
{
	#window
	{	
		top:0; left:0;
		width: 100%;
		height: 95%;
	}
	#second
	{
		font-size: 90%;
	}
}
