@media(max-width: 1024px)
{
  .window
  {
    left:10%;
    width: 80%;
  }
}

@media(max-width: 768px)
{
  .contentContact
  {
    height: 100%;
    overflow-y: scroll;
  }

  .contentContact div
  {
    width: 60%;
  }

  .window
  {
    left:10%;
    width: 80%;
  }

  #first
  {
    display:none;
  }

  #second
  {
    width:100%;
    float:none;

  }

  #second img
  {
    float:right;
    width: 160px;
  }

  table
  {
    margin:0;
  }

  .contentAbout footer
  {
    margin-left: 0;
  }

  .contentContact div
  {
    padding-top:30px;
    margin-bottom: 1%;
    height: 80%;
  }
}

@media(max-width: 480px)
{
  .window
  {
    top:0;
    left:0;
    bottom: 0;
    width: 100%;
    height: calc(100% - 22px);
  }

  #second
  {
    height: 75%;
  }

  .contentAbout footer button
  {
    margin: 3px 6px;
    transform: translateY(10px);
  }

  .contentContact div
  {
    padding-top:15px;
    margin-bottom: 2%;
    height: 52%;
  }
}
