* {margin: 0; padding: 0; transition-duration: 150ms;}

@font-face
{
    font-family: 'Nexa';
    src: url('../res/nexa.otf');
}

@font-face
{
    font-family: 'ubuntu';
    src: url('../res/Ubuntu-C.ttf');
}

@font-face
{
    font-family: 'igiari';
    src: url('../res/igiari.ttf');
}

html
{
    background-image: url("../img/background.jpg");
    background-size: 100% 100%;
    font-family: Tahoma;
    color: white;
    
}

body
{
	box-sizing: border-box;
	width: 100%;
	height: 100vh;
}

#header
{
	text-align: center;
	padding-top: 20vh;
	transition-duration: 500ms;
}

#header ul
{
	list-style-type: none;
}

#logo
{
	height: 60vh;
  	filter: drop-shadow(0 0 10px #000);
          	-webkit-animation: swing-in-bottom-bck 0.6s ease-in-out both;
	                animation: swing-in-bottom-bck 0.6s ease-in-out both;
	transition-duration: 500ms;
	cursor: pointer;
}

#logo:hover
{
	height: 62vh;
}

#menu-top
{
	display: none;
	position: absolute; top:0; left:2vh;
}

#menu-top img
{
	height: 10vh;
	filter: drop-shadow(0 0 10px #000);
}

#menu-top li
{
	margin: 20%;
	padding: 10px 15px;
	border-bottom: 2px solid white;
	width: 8vh;
	list-style-type: none;
	cursor: pointer;
}

#menu-bottom
{
	display: none;
	position: absolute; bottom:0; left:2vh;
}

#menu-bottom img
{
	height: 12vh;
	filter: drop-shadow(0 0 10px #000);
}

#menu-bottom li
{
	margin: 20%;
	padding: 10px 15px;
	border-bottom: 2px solid white;
	width: 8vh;
	list-style-type: none;
	cursor: pointer;
}

#window
{
	box-sizing: border-box;
	position: absolute; left:25vh; top:0;
	width:50%;
	height: 75%;
	z-index: 4;
	border-radius: 10px 10px 0 0;
	display: none;
	
}

#window nav
{
	box-sizing: border-box;
	width: 100%;
	height: 26px;
	border: 4px solid #464541;
	background-color: #464541;
	border-radius: 10px 10px 0 0;
	cursor: move;
}

nav img
{
	cursor: pointer;
	height: 100%;
}

#content
{
	box-sizing: border-box;
	background-color: #FFFFFF;
	height: 98%;
}

#protect
{
	position: absolute; top:0;bottom:20px;right:3px;left: 10%;
}

