* {margin: 0; padding: 0; transition-duration: 150ms;}


@font-face
{
    font-family: 'ubuntu';
    src: url('../res/Ubuntu-L.ttf');
}

@font-face
{
  font-family: 'ubuntu-b';
  src:url('../res/Ubuntu-B.ttf');
}

html
{
	background-image: url("../img/background.jpg");
    background-size: 100% 100%;
    font-family: "ubuntu";
    color: white;
}

body
{
	box-sizing: border-box;
	width: 100%;
	height: 100vh;
}

#header
{
	text-align: center;
	padding-top: 20vh;
	transition-duration: 500ms;
}

#header ul
{
	list-style-type: none;
}

#logo
{
	height: 60vh;
  	filter: drop-shadow(0 0 10px #000);
          	-webkit-animation: swing-in-bottom-bck 0.6s ease-in-out both;
	                animation: swing-in-bottom-bck 0.6s ease-in-out both;
	transition-duration: 500ms;
	cursor: pointer;
}

#logo:hover
{
	height: 62vh;
}

.menu
{
	display: none;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
}

.menu hr
{
  margin: 0 35%;
}

.menu img
{
	height: 10vh;
	filter: drop-shadow(0 0 10px #000);
}

.menu li
{
	padding: 10px 0;
	width: 50vh;
	cursor: pointer;
  	margin: auto;
  	list-style-type: none;
}

.menu span
{
  margin: auto;
  font-size: 85%;
}

a
{
  text-decoration: none;
  color: white;
}

#window
{
  	position: absolute; top:5%; left:20%;
	width: 60%;
	height: 80%;
	z-index: 4;
	border-radius: 10px 10px 0 0;
	display: none;
	transition-duration: 0;
}

#window nav
{
	box-sizing: border-box;
	width: 100%;
	height: 26px;
	border: 4px solid #464541;
	background-color: #464541;
	border-radius: 10px 10px 0 0;
  	text-transform: uppercase;
	font-family: ubuntu;
}

nav span
{
  margin-left: 10px;
}

nav img
{
	cursor: pointer;
	height: 100%;
}

#content
{
	display: block;
	background-color: white;
	height: 100%;
  	color: black;
  	background-color: #F2F1F0;
}

#accountField
{
  width: 80%;
  height: 100%;
  min-height: 400px;
  max-height: 1200px;
  background: white;
  margin: 15px;
  border: 1px solid gray;
}

#accountField img
{
  width: 20%;
  float: left;
}

#showInfo
{	
	display: inline-block;
	margin-top: 10px;
	width: 100%;
  	cursor: pointer;
  	vertical-align:middle;
}

#secondly
{
	color: rgb(80,80,80);
	font-size: 90%;
}

#userName
{
	list-style: none;
	transition-duration: 0;
}

#first, #second
{
	display: block;
}

#first
{
  float: left;
  width: 40%;
}

#second
{
  	float: right;
  	width: 60%;
	display: none;	
}

#second img
{
  width: 100%;
}


#userName
{
  margin: 10px 5px;
  font-family: 'ubuntu-b';
  color: rgb(42, 42, 42);
  float: left;
}

table
{
	display: block;
	margin: 5px 15% 0 0;
	box-sizing: border-box;
}

.cv
{
	background-color: whitesmoke;
	color: #585859;
	padding: 3%;
	border-radius: 8px;
	margin: 10px 25px;
	box-shadow: none;
}

.cv:hover
{
	background-color: #585859;
	color: whitesmoke;
	cursor: pointer;
}

.left
{
	font-family: "ubuntu-b";
	text-align: right;
	padding: 10px 8px;

}

.right
{
	text-align: left;
	padding: 10px 0;
	
}