* {margin: 0; padding: 0; transition-duration: 150ms;}


@font-face
{
    font-family: 'ubuntu';
    src: url('../res/Ubuntu-L.ttf');
}

@font-face
{
  font-family: 'ubuntu-b';
  src:url('../res/Ubuntu-B.ttf');
}

html
{
	background-image: url("../img/background.jpg");
    background-size: 100% 100%;
    font-family: "ubuntu";
    color: white;
}

body
{
	box-sizing: border-box;
	width: 100%;
	height: 100vh;
}

#header
{
	text-align: center;
	padding-top: 20vh;
	transition-duration: 500ms;
}

#header ul
{
	list-style-type: none;
}

#logo
{
	height: 60vh;
  	filter: drop-shadow(0 0 10px #000);
          	-webkit-animation: swing-in-bottom-bck 0.6s ease-in-out both;
	                animation: swing-in-bottom-bck 0.6s ease-in-out both;

	transition-duration: 500ms;
	cursor: pointer;
}

#logo:hover
{
	height: 62vh;
}

.menu
{
	display: none;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
}

.menu a
{
  color: white;
}

.menu hr
{
  margin: 0 35%;
}

.menu img
{
	height: 10vh;
	filter: drop-shadow(0 0 10px #000);
}

.menu li
{
	padding: 10px 0;
	width: 50vh;
	cursor: pointer;
  margin: auto;
  list-style-type: none;
}

.menu span
{
  margin: auto;
  font-size: 85%;
}

a
{
  text-decoration: none;
  color: white;
}

.window
{
  position: absolute; top:5%; left:20%;
	width: 60%;
	height: 82%;
	z-index: 4;
	border-radius: 10px 10px 0 0;
	display: none;
	transition-duration: 0;
}

.window nav
{
	width: 100%;
	height: 22px;
	border: 4px solid #464541;
	background-color: #464541;
	border-radius: 10px 10px 0 0;
  text-transform: uppercase;
	box-sizing: border-box;
}

nav span
{
  margin-left: 10px;
}

nav img
{
	cursor: pointer;
	height: 100%;
}

.content
{
  display: block;
  height: 100%;
  color: black;
  background-color: #F2F1F0;
}

#showInfo
{
	margin-top: 10px;
	width: 100%;
  color: white;
}

#showInfo img
{
  width: 100%;
  float: left;
  margin: 0 5px 5px 0;
}

#showInfo p
{
  font-weight: 600;
  clear: both;
  margin-top: 10px;
  padding: 0 10px;
}

#showInfo span
{
  font-weight: 200;
  font-size: 14px;
  display: block;
}

/* ABOUT */

#first
{
  float: left;
  width: 30%;
  height: 100%;
  background-color: #E95420;
  display: block;
}

#second
{
  float: right;
  width: 70%;
  overflow-y: scroll;
  overflow-x: none;
  height:80%;
  display: block;
}

#second img
{
  display: none;
}

table
{
	margin: 5px 15% 0 0;
}

.contentAbout footer
{
  width: 100%;
  margin-left: 15%;
  text-align: center;
  clear: both;
  position: absolute; bottom: 0;
}

.left
{
	font-weight: 800;
	text-align: right;
	padding: 10px 16px;
}

.right
{
	text-align: left;
	padding: 10px 0;
}

/* CONTACT */
.show
{
  display: block;
}

.contentContact
{
  text-align: center;
  box-sizing: border-box;
}

.contentContact div
{
  margin:auto;
  display: inline-block;
  width: calc(33% - 40px);
  padding: 10px;
  transition: 300ms;
  padding-top: 10%;
  box-sizing: border-box;
  height: 100%;
}

.contentContact img
{
  vertical-align: middle;
}

.contentContact p
{
  font-weight: 800;
  margin-top: 20px;
}

a
{
  color: black;
}

.contentContact img
{
  width:100%;
}

/* Projects */
.contentProjects
{
  text-align: center;
  height: 100%;
  overflow-y: scroll;
}
.contentProjects div
{
  display: inline-block;
  cursor: pointer;
  min-width: 200px;
  width: 90%;
  margin: 1%;
  padding: 2%;
  background-color: #E95420;
  color:white;
  border: 1px solid white;
  border-radius: 8px;
  position: relative;
  z-index: 6;
}

.menuField
{
  display: none;
  width: 90%;
  height: 10%;
  margin: auto;
  position: relative;
  z-index: 2;
}

.buttons
{
  display: inline;
	background-color: whitesmoke;
	color: #585859;
	padding: 10px;
	border-radius: 8px;
	margin:  0 10px;
	box-shadow: none;
  width: 150px;
}

.buttons:hover
{
  background-color: #585859;
  color: whitesmoke;
  cursor: pointer;
}
